
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
}

header img {
    height: 40px;

}
header .paw {
    transform: rotate(-40deg);
    height: 40px;

}

header h1 {
    font-size: 30px;
    font-weight: bolder;
    color: black;
}

main {
    text-align: center;
    max-width: 700px;
    margin: auto;
    margin-top: 75px;
    margin-bottom: 75px;
    background-color: #ffffff;
}

h2 {
    font-size: 40px;
    font-weight: bolder;
    color: black;
}

p, #description {
    margin: 10px;
    width: 550px;
}

.choice {
    display: inline;
    list-style: none;
    padding: 5px;
}

.choice input {
    margin-right: 10px;
}

#result {
    background: #ffffff;
    padding: 20px;
}

#result-description {
    background: #ffffff;
    font-weight: bolder;
}
