/* add home page styles here */
h3 {
    /* height: var(--header-height); */
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: bolder;
    color: black;
}

.text-prompt {
    display: block;
    margin: 10px 0;
}

.text-prompt label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.1em;
    font-weight: bolder;
}

.text-prompt input {
    display: block;
    padding: 5px;
    font-size: 1.1em;
}

#avatars {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 5px;
}

#avatars label {
    display: flex;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    margin: 0 20px 20px;
}

#avatars input, #avatars img {
    margin: 0 7px;
    
}

img {
    width: auto;
    height: 100px;
}

/* button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/assets/paw-print.png);
    border: none;
    color: #50c24d;
    height: 64px;
    width: 64px;
    transform: rotate(40deg);
    margin-right: 20px;
} */

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bolder;
    color: black;
    font-size: 18px;
}