header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
}
header img {
    height: 40px;
   
}
header .paw {
    transform: rotate(-40deg);
    height: 40px;

}

header h1 {
    font-size: 30px;
    font-weight: bolder;
    color: black;
}

h2 {
    font-size: 20px;
    font-weight: bolder;
    color: black;
    margin-top: 20px;
    margin-left: 40px;
    position: relative;
}
#adventure {
    position: relative;
    background-image: url("../assets/map.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 90vw;
    height: calc(90vw * 642 / 900);
    margin: auto;
}

.adventure {
    position: absolute;
    color: rgb(202, 82, 132);
    text-shadow: 1px 1px 1px rgba(54, 54, 54, 0.632);
}

.adventure.completed {
    color: whitesmoke;
    font-size: .15em;
}

.adventure.completed:after {
    content: ' ✔';
}