header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
}

header img {
    height: 40px;

}
header .paw {
    transform: rotate(-40deg);
    height: 40px;

}

header h1 {
    font-size: 30px;
    font-weight: bolder;
    color: black;
}

main {
    text-align: center;
    max-width: 700px;
    margin: auto;
    margin-bottom: 75px;
}

h2 {
    font-size: 40px;
    font-weight: bolder;
    color: black;
}