/* body, html {
    margin: 0 auto;
} */

body {
    --color1: #ffffff;
    --color2: #5dc4e4;
    --color3:  #50c24d;
    --color4: #ffffff;
    --color5: #ffffff;
    
    --header-height: 70px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 70px;
    
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color2);
    /* background-image: url(/assets/paw-print-banner.png); */
}

* {
    box-sizing: border-box;
}

.hidden {
    display: none;
}

header, main {
    padding: 8px;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

section {
    background-color: var(--color5);
    width: 600px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
}

header {
    display: flex;
    justify-content: center;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
    background-image: url(/assets/paw-print-banner.png);
    /* opacity: 0.70; */
}

content {
    width: 80%;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
    background-image: url(/assets/paw-print-banner.png);
}